body {
    margin: 0;
    padding: 0;
    font-family: "Inter", "sans-serif";
    box-sizing: border-box;
}

h1{
    font-style: 50px;
}

h4{
    font-style: 30px;
}

header {
    width: 100%;
    background-color: grey;
    margin-top: 0;
    margin-left: 0;

    display: flex;
    box-sizing: 0 0 10px 2px #aaa;
    z-index: 100;
}